<div class = 'row'>
  <div class = 'input-field col s6'>
    <%= f.date_field :date, class: 'validate datepicker', placeholder: 'Holiday Date' %>
  </div>
  <div class = 'input-field col s6'>
    <%= f.label :description, 'Description' %>
    <%= f.text_field :description, class: 'validate' %>
  </div>
</div>

<script>
  LeaveManagementSystem.Common.bindDatePicker();
</script>