<tr>
  <th><%= sortable("name","Name") %></th>
  <th><%= sortable("email","Email") %></th>
  <th>Designation</th>
  <th>Gender</th>
  <th><%= sortable("date_of_birth","Date of birth") %></th>
  <th><%= sortable("date_of_joining","Date of joining") %></th>
  <th></th>
  <th></th>
</tr>

<script type="text/javascript">

  $(document).ready(function() { 
    $('thead a').click(function() { 
        $.blockUI({ message: "<h6>Please wait...</h6>" }); 
        setTimeout($.unblockUI, 1000); 
    }); 
  }); 
</script>
