<% if @sign_off_notification.present? %>
  <% @sign_off_notification.each do |sign_off| %>
    <div class="item clearfix highlighted"> 
      <div class="image"></div>
        <div class="icons right">
          <a href="#" data-alignment="right" class="dropdown-button" data-activates='dropdown1'>&bull; &bull; &bull;</a>
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!" class="blue-text">Unread</a></li>
              <li><a href="#!" class="blue-text">Read</a></li>
              <li><a href="#!" class="blue-text">Uproved</a></li>
              <li><a href="#!" class="blue-text">Reject</a></li>
              </ul>
        </div>
        <div class="detail">
          <div class="title"><b><%= current_user.name %></b> Requasted for Leave : <%= sign_off.reason %></div>
          <div class="time">11 AM today</div>
        </div>
      </div>
  <% end %>
<% end %>
