<div class="whitebg z-depth-2">
  <div class="row">
    <div class="col m3">
      <div class="box red lighten-3">
        <strong>Leave Request</strong>: <%= @sign_offs[:pending].count %>
      </div>
      <%= notice %>
    </div>
  </div>
  <div class="row">
    <div class="col m12 leave-requests">
      <% if can? :manage, User %>
      <div class="tab-options notify-dropdown">
        <a href="#" class="dropdown-button btn-flat waves-effect grey lighten-3 font-center" data-constrainwidth="false" data-alignment="right" data-activates="tabOption" ><span class="fa fa-bars"></span></a>
        <ul class="dropdown-content" id="tabOption">
          <li><a href="#">Export List</a></li>
          <li><a href="#">Short By From Date</a></li>
          <li><a href="#">Short By To Date</a></li>
        </ul>
        <a href="#calendar-view" data-hide="#tabview" class="togglebtn btn-flat waves-effect grey lighten-3 center-align"><span class="fa fa-calendar-o"></span></a>
      </div>

      <div id="tabview">
        <ul class="tabs">
          <li class="tab"><a class="active" href="#approved">Approved</a></li>
          <li class="tab"><a href="#pending">Pending</a></li>
          <li class="tab"><a href="#rejected">Rejected</a></li>
          <li class="tab"><a href="#cancelled">Cancelled</a></li>
          <li class="tab"><a href="#emergency">Emergency</a></li>
        </ul>
        <div class="tab-content" id="approved">
          <%= render 'approved_leaves' %>
        </div>
        <div class="tab-content" id="pending">
          <%= render 'pending_leaves' %>
        </div>
        <div class="tab-content" id="rejected">
        </div>
      </div>
      <% end %>
      <div id="calendar-view" class="calendar-view"></div>
    </div>
  </div>

<script type="text/javascript">
  $('.togglebtn').on('click', function(){  
      console.log('clicked');
  }); 
</script>
