<div class="whitebg z-depth-2">
  <div class="row">
    <div class="col m3">
      <div class="box red lighten-3">
        <strong>Leave Request</strong>: <%= @pending_sign_offs.count %>
      </div>
      <%= notice %>
    </div>
  </div>
  <div class="row">
    <div class="col m12 leave-requests">
      <% if can? :manage, User %>
      <div id="tabview">
        <ul class="tabs">
          <li class="tab"><a class="active" href="#approved">Approved</a></li>
          <li class="tab"><a href="#pending">Pending</a></li>
          <li class="tab"><a href="#rejected">Rejected</a></li>
          <li class="tab"><a href="#cancelled">Cancelled</a></li>
          <li class="tab"><a href="#emergency">Emergency</a></li>
        </ul>
        <div class="tab-content" id="approved">
          <%= render 'approved_leaves' %>
        </div>
        <div class="tab-content" id="pending">
          <%= render 'pending_leaves' %>
        </div>
        <div class="tab-content" id="rejected">
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>