<div class="whitebg z-depth-2">
  <div class="row">
    <div class="col m3">
      <div class="box red lighten-3">
        <strong>Leave Request</strong>: <%= @pending_sign_offs.count %>
      </div>
      <%= notice %>
    </div>
  </div>
  <div class="row">
    <div class="col m12 leave-requests">
      <% if can? :manage, User %>
      <div class="tab-options notify-dropdown">
        <a href="#" class="dropdown-button btn-flat waves-effect grey lighten-3 font-center" data-constrainwidth="false" data-alignment="right" data-activates="tabOption" ><span class="fa fa-bars"></span></a>
        <ul class="dropdown-content" id="tabOption">
          <li><a href="#">Export List</a></li>
          <li><a href="#">Short By From Date</a></li>
          <li><a href="#">Short By To Date</a></li>
        </ul>
        <a href="#calendar-view" data-hide="#tabview" class="togglebtn btn-flat waves-effect grey lighten-3 center-align"><span class="fa fa-calendar-o"></span></a>
      </div>

      <div id="tabview">
        <ul class="tabs">
          <li class="tab"><a class="active" href="#approved">Approved</a></li>
          <li class="tab"><a href="#pending">Pending</a></li>
          <li class="tab"><a href="#rejected">Rejected</a></li>
          <li class="tab"><a href="#cancelled">Cancelled</a></li>
          <li class="tab"><a href="#emergency">Emergency</a></li>
        </ul>
        <div class="tab-content" id="approved">
          <%= render 'approved_leaves' %>
        </div>
        <div class="tab-content" id="pending">
          <%= render 'pending_leaves' %>
        </div>
        <div class="tab-content" id="rejected">
        </div>
      </div>
      <% end %>
      <div id="calendar-view" class="calendar-view"></div>
    </div>
  </div>

<script type="text/javascript">
$(document).ready(function(){
  $('#calendar-view').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      defaultDate: '2016-09-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2016-09-01'
        },
        {
          title: 'Long Event',
          start: '2016-09-07',
          end: '2016-09-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2016-09-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2016-09-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2016-09-11',
          end: '2016-09-13'
        },
        {
          title: 'Meeting',
          start: '2016-09-12T10:30:00',
          end: '2016-09-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2016-09-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2016-09-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2016-09-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2016-09-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2016-09-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2016-09-28'
        }
      ]
    });

  $('.togglebtn').click(function(){
    getHref = $(this).attr('href');
    getHide = $(this).attr('data-hide');
    if($(getHide).is(':visible')) {
      $(getHref).stop().show();
      $(getHide).stop().hide();
      $(this).addClass('active')
      $(getHref).parent().addClass('calendar-view-on')
    } else {
      $(getHref).stop().hide();
      $(getHide).stop().show();
      $(this).removeClass('active')
      $(getHref).parent().removeClass('calendar-view-on')
    }
    return false;
  })
  $(window).load(function(){
    $('#calendar-view').hide()
  });
  }) 
</script>
