<div class='whitebg'>
  <div class='row'>
    <div class='col m12'>
      <h5 class='center-align'>Leave Types</h5>
      <table class="responsive-table">
        <thead class= 'leave_type_table_head'>
          <%= render 'leave_type_list_table_head' %>
        </thead>
        <tbody class= 'leave_type_table_body'>
          <%= render 'leave_type_list' %>
        </tbody>
      </table>
      <div id= 'paginate'>
        <%= paginate @leave_types, remote: true %>
      </div>
      <%= link_to 'Add Leave Type', new_leave_type_path %>
    </div>
  </div>
</div>