<div class="row" id="login-page">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <img class="circle responsive-img valign profile-image-login" alt="" src="assets/logo.png">
            <p class="center login-form-text">Smart SignOff</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="fa fa-user-o fa-1x prefix"></i>
            <input type="text" id="username">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me">
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="btn waves-effect waves-light col s12" href="index.html">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s5 m5 l5">
            <p class="margin medium-small"><a href="page-register.html"></a></p>
          </div>
          <div class="input-field col s7 m7 l7">
              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
          </div>
        </div>

      </form>
    </div>
  </div>
