$maincolor: #0091ea;
$greencolor: #23c826;
// header style
.header {
  background: $maincolor;
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  .header-top {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #0d98ed;
    .right-links {
      float: right;
      > ul > li {
        float: left;
        margin-left:12px;
      }
      .menu-whitebg {
        > a {
          width: 32px;
          height: 31px;
          display: inline-block;
          margin: 10px 0;
          line-height: 30px;
          background: color("shades", "white");
          color: $maincolor;
          border-radius: 50%;
          text-align: center;
          position: relative;
          .notify-icon {
            position: absolute;
            top: -4px;
            right: 2px;
            background: color("red","base");
            border-radius: 50%;
            height: 12px;
            width: 12px;
            border: 2px solid $maincolor;
          }
        }
      }
    }
  }
}
.header-top {
  .menu {
    margin: 0;
    .dropdown-button {
      position: relative;
      display: inline-block;
      vertical-align: top;
      .dropdown-icon {
        position: absolute;
        bottom: -5px;
        right: 0;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background: color("green","custom-1");
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 17px;
      }
    }
  }
}
.rounded {
  border-radius: 50%;
}
.profile-menu {
  .dropdown-content {
    width: 380px;
    margin-top: 15px;
    background: color("shades","white");
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    li:not(.divider) {
      &:hover{
        background:none;
      }
      min-height: 40px;
    }
    li {
      cursor: auto;
    }
    .user-detail {
      padding: 15px;
      .profile-image {
        float: left;
        width: 80px;
        height: 80px;
        background: #e8e8e8;
        overflow: hidden;
        margin-right:20px;
        border-radius: 50%;
      }
      .basic-detail {
        overflow: hidden;
        h5 {
          color: #343434;
          font-size: 18px;
          margin:0;
          padding-top: 15px;
        }
        .username-email {
          font-size: 12px;
          color: #b4b4b4;
        }
      }
    }
    .profilemenu-bottom {
      .link {
        float: left;
        font-size: 12px;
        color: color("grey","lighten-6");
        padding: 5px 10px;
        line-height: 30px;
        a {
          color: color("grey","lighten-6");
          margin: 0 5px;
          &:hover {
            color: color("green","lighten-2");
          }
        }
      }
      .logout-btn {
        float: right;
        text-align: center;
        border-left: 1px solid color("grey","lighten-3");
        a {
          display: block;
          font-size: 16px;
          padding: 5px;
          min-height: 40px;
          width: 40px;
          color: color("red","base");
          &.fa {
            line-height: 30px;
          }
          &:hover {
            color: color("shades","white");
            background: color("red","base")
          }
        }
      }
    }
  }
}
.notify-dropdown {
  .dropdown-content {
    font-size: 13px;
    line-height: 30px;
    margin-top: 25px;
    li {
      &:not(.divider) {
        min-height: 30px;
      }
      + li {
        border-top:  1px solid color("grey", "lighten-3");
      }
      &.highlighted {
        background: color("grey", "lighten-3");
        a {
          color: color("grey", "darken-1");
        }
      }
      &.seeall {
        text-align: center;
        font-weight: bold;
        background: color("grey", "lighten-5");
        a {
          color: color("blue", "base");
        }
      }
      a {
        color: color("grey", "lighten-1");
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        &.fa {
          margin-right:10px;
        }
      }
    }
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}
.header-bottom {
  font-size: 14px;
  color: #67c5ff;
  padding: 12px 0 126px;
  line-height: 26px;
  h1 {
    margin: 0;
    font-size: 30px;
    color: color("shades","white")
  }
  .font-right {
    text-align: right;
  }
  .breadcrumb {
    color: #67c5ff;
    font-size: 14px;
    &:before {
      content: "\f0da";
      font-family: 'FontAwesome';
      font-size: 14px;
      color: #67c5ff;
    }
  }
  .row {
    margin-bottom:0;
  }
}
//content
.content {
  background: color("grey","lighten-5");
  padding: 1px;
  .whitebg {
    background: color("shades", "white");
    margin-top: -115px;
    min-height: 200px;
    padding: 20px;
  }
}
.leave-requests {
  &.calendar-view-on {
    padding-top: 50px !important;
    .dropdown-button {
      display: none;
    }
  }
  position: relative;
  .tabs {
    &:after {
      border-bottom:2px solid color("grey","lighten-2");
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }
    li {
      a {
        color: color("grey","base");
        text-transform: none;
        &:hover {
          color: color("blue","lighten-3");
        }
        &.active {
          color: color("blue","base");
        }
      }
    }
    .indicator {
      z-index: 1;
      background: color("blue","base");
    }
  }
  .tab-content {
    padding: 15px;
    background: color("grey","lighten-4");
    font-size: 14px;
  }
  .tab-options {
    position: absolute;
    right: 0.75rem;
    top: 0;
    .dropdown-content {
      margin-top: 0px;
    }
    .btn-flat {
      padding-left: 10px;
      padding-right: 10px;
      &.active {
        background: color("blue","base") !important;
        color: color("shades","white") !important;
      }
    }
  }
}
.box {
  padding:15px;
  color: color("shades","white")
}
.calendar-view {
  h2 {
    font-size: 20px;
  }
  .fc-day-header {
    background: color("grey","lighten-4");
    font-size: 15px;
    height: 43px;
    vertical-align: middle;
  }
}
.footer-box {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: color("grey","darken-1");
}


.radio-inline {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  margin:0 0 5px 0;
}
.checkbox-inline {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  margin:0 0 5px 0;
}
.form-box {
  padding: 15px;
}

.leave-request {
  color: color("grey","darken-1");
  h5 {
    font-size: 17px;
    border-top: 1px solid color("grey","lighten-2");
    border-bottom: 1px solid color("grey","lighten-2");
    background: color("grey","lighten-5");
    padding: 15px;
    &:first-child {
      margin-top:0;
    }
  }
}
.chat-system {
  color: color("grey","darken-1");
  margin:0 -20px;
  border-top:1px solid color("grey","lighten-3");
  padding: 20px 20px 0;
  h4 {
    font-size: 17px;
    font-weight: bold;
  }
  .time {
    color: color("grey","lighten-1");
    font-size: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom:5px;
    span {
      position: relative;
      display: inline-block;
      padding-right:10px;
      &:after {
        position:absolute;
        right: -1000em;
        left: 100%;
        top: 50%;
        border-top: 1px solid color("grey","lighten-2");
        content: "";
      }
    }
  }
  .chat-box {
    margin:25px 0;
    &:after {
      content:"";
      display: block;
      visibility: hidden;
      clear: both;
    }
    .chat-time {
      float: right;
      margin: 0 0 0 15px;
      line-height: 40px;
      font-size: 13px;
      color: color("grey","darken-5");
    }
    .image {
      float: left;
      margin: 0 15px 0 0;
      background: color("grey","lighten-2");
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
    .chat-text {
      margin-left:55px;
      margin-right: 75px;
      background: color("grey","lighten-4");
      padding: 10px;
      line-height: 21px;
      border-radius: 5px;
      position: relative;
      &:after {
        position:absolute;
        left: -14px;
        top: 13px;
        content: "";
        border-width:7px;
        border-style: solid;
        border-color: transparent color("grey","lighten-4") transparent transparent;
      }
      .name {
        font-size: 12px;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 7px;
        margin-left: -10px;
        margin-top: -32px;
      }
    }
    &.you {
      .chat-text {
        background: color("blue","lighten-5");
        &:after {
          left: auto;
          right: -14px;
          border-color: transparent transparent transparent color("blue","lighten-5");
        }
      }
    }
  }
  .chat-typing {
    clear: both;
    border-top: 1px solid color("grey","lighten-2");
    padding-top: 20px;
    .buttons {
      float: right;
      margin-left:15px;
      button{
        margin-right: 10px;
      }
    }
    .input-field {
      margin-top: 0;
      overflow: hidden;
    }
    textarea.materialize-textarea {
      border: medium none;
      height: 22px;
      margin-bottom: 0;
      color: color("grey","base");
      min-height: 0;
      padding: 10px 0;
    }
    textarea::-moz-placeholder {
      color: color("grey","darken-4");
    }
  }
}
.employe-detail {
  .image {
    width: 80px;
    height: 80px;
    background: color("grey","lighten-4");
    float: left;
    margin-right:15px;
  }
  .info {
    overflow: hidden;
    padding-top: 5px;
    h4 {
      font-size: 20px;
      margin: 0;
    }
  }
  .leave-counter {
    clear: both;
    margin-top: 15px;
    ul {
      list-style: none;
      margin: 0;
      li {
        padding:5px;
        border-top: 1px solid color("grey","lighten-4");
      }
    }
  }
}

body {
  background: color("grey","lighten-5");
}
.smallbtn {
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
::-webkit-input-placeholder {
  color: color("grey","base");
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: color("grey","base");
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: color("grey","base");
  opacity: 1;
}

:-ms-input-placeholder {
  color: color("grey","base");
  opacity: 1;
}
.holiday-list {
  position: relative;
  overflow: hidden;
  > .row {
    margin: 0px
  }
  .row {

    border-left: solid 1px #e0e0e0 !important;
  }
  .col{
    border-top: solid 1px #e0e0e0 !important;
    border-bottom: solid 1px #e0e0e0 !important;
    border-right: solid 1px #e0e0e0 !important;
  }
  .holiday-box {
    padding: 20px 10px;
    position: relative;
    .action {
      position: absolute;
      right: 10px;
      top: 20px;
      .btn-flat {
        margin-right: 5px !important;
        color: color("shades","white");
        padding-left: 5px;
        padding-right: 5px;
        height: 25px;
        line-height: 25px;
      }
    }
    h5 {
      margin-top: 0;
      font-size: 19px;
      color: #000;
    }
    .date {
      color: color("grey","base");
      font-size: 13px;
    }
  }
  > .row > .col:nth-child(3n+1) {
    clear: both;
  }
  > .row > .col:nth-child(2n) {
    background: color("grey","lighten-4")
  }
}
.modal{
  max-height: 100% !important;
}
.holiday-form {
  h5 {
    background: color("blue","lighten-2");
    color: color("shades","white");
    text-align: center;
    padding:15px;
    margin-top: 0px;
    margin-bottom:25px;
    font-size: 18px;
  }
  .modal-content {
    padding:20px;
  }
  .modal-footer {
    padding: 10px 20px;
    height: 68px;
    border-top: 1px solid color("grey","lighten-2");
  }
}
.user-profile {
  padding: 20px;
  border: 1px solid color("grey","lighten-2");
  .image {
    background: color("grey","lighten-2");
    height: 140px;
    margin-bottom:20px;
  }
  .name {
    font-size: 20px;
    color: color("grey","darken-1");
  }
  .designation {
    color: color("grey","lighten-1")
  }
}
.user-details {
  h5 {
    font-size: 22px;
  }
  .content-box {
    padding: 10px;
    border: 1px solid color("grey","lighten-2");
    position: relative;
    margin: 0 0 20px;
    > dl:nth-child(2n) {
      background: color("grey","lighten-4");
    }
    dl {
      clear: both;
      margin: 0;
      &:after {
        clear:both;
        display: block;
        visibility: hidden;
        content: "";
      }
      &:before {
        content: "";
        position: absolute;
        left: 25%;
        border-left:  1px solid color("grey","lighten-2");
        top: 0;
        bottom: 0;
      }
      dt {
        width: 25%;
        float: left;
        padding:10px 15px;
        font-weight: bold;
        font-size: 13px;
        color: color("grey","darken-1");
      }
      dd {
        padding:10px 15px;
        margin: 0;
        overflow: hidden;
        font-size: 13px;
        color: color("grey","darken-2");
      }
      + dl {
        border-top: 1px solid color("grey","lighten-2");
      }
    }
  }
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
.centeralign-form {
  .header{
    padding-top: 20px;
    padding-bottom:150px;
  }
  h5 {
    color: color("shades","white");
    background-color: color("indigo","base");
    margin-top:0;
    margin-bottom:25px;
    padding: 12px 0;
  }
  .whitebg {
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
    &.register-form {
      max-width: 750px;
    }
  }
}
.clear {
  clear: both;
}
.notifications-list {
  .item {
    border-top: 1px solid color("grey", "lighten-3");
    padding: 10px;
    .image {
      height: 40px;
      width: 40px;
      margin-right:15px;
      background:color("grey", "base");
      float: left;
    }
    .title {
      font-size: 14px;
      color: color("grey", "lighten-1");
      b {
        color: color("grey", "darken-1");
      }
    }
    .time {
      font-size: 12px;
      color: color("grey", "lighten-1");
    }
    &.highlighted {
      background: color("grey", "lighten-4")
    }
    .detail {
      overflow: hidden;
      padding: 0 15px 0 0;
    }
    .icons {
      line-height: 20px;
      padding: 8px 0;
    }
  }
}
