<% content_for :form_title, 'Sign Off Types' %>
<div class='whitebg z-depth-2'>
  <div class="row">
    <div class="col s12 right-align">
      <%= link_to new_sign_off_type_path,remote: true, class: 'btn-floating green center-align' do %>
        <span class='fa fa-plus'></span>
      <% end %>
    </div>
  </div>
  <div class="holiday-list">
    <div class="row">
      <%= render 'sign_off_type_list' %>
    </div>
  </div>
</div>

<div id="edit_sign_off" class="modal holiday-form">
</div>
<div id="new_sign_off" class="modal holiday-form">
</div>

<script type="text/javascript">
  $('.modal').modal();
</script>
  