<div class="chat-system">
  <h4>Chat Convertation</h4>
  <div class="chat-room">
    <div class="time"><span>Yesterday</span></div>
    <div class="chat-box">
      <div class="chat-time">11:00 PM</div>
      <div class="image"></div>
      <div class="chat-text">
        <div class="name">HR Manager</div>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </div>
    </div>
    <div class="chat-typing">
      <div class="buttons">
        <button class="btn-floating tooltipped blue waves-effect waves-light" data-position="top" data-delay="50" data-tooltip="Send Massege" name="">
          <span class="fa fa-send"></span>
        </button>
        <button class="btn-floating tooltipped green waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Approve Leave" name="">
          <span class="fa fa-check"></span>
        </button>
        <button class="btn-floating tooltipped red waves-effect waves-light white-text" name="" data-position="top" data-delay="50" data-tooltip="Reject Request Leave">
          <span class="fa fa-close"></span>
        </button>
      </div>
      <div class="input-field">
        <textarea id="textarea1" class="materialize-textarea" rows="1" placeholder="Type a message here"></textarea>         
      </div>
    </div>
  </div>
</div>