<tr>
  <th>Leave Type</th>
  <th>Half or Full Leave</th>
  <th>Leave Status</th>
  <th><%= sortable("date_from", "From Date") %></th>
  <th><%= sortable("date_to", "To Date")%></th>
  <th>Leave Days</th>
  <th>Reason</th>
</tr>

<script type="text/javascript">

  $(document).ready(function() { 
    $('thead a').click(function() { 
        $.blockUI({ message: "<h6>Please wait...</h6>" }); 
        setTimeout($.unblockUI, 1000); 
    }); 
  }); 
</script>