<div class='whitebg z-depth-2'>
  <div class='row'>
    <div class='col m12'>
      <h5 class='center-align'>Sign Offs</h5>
      <table class="responsive-table">
        <thead class= 'sign_off_table_head'>
          <%= render 'sign_off_list_table_head' %>
        </thead>
        <tbody class= 'sign_off_table_body'>
          <%= render 'sign_off_list' %>
        </tbody>
      </table>
      <div id='paginate'>
        <%= paginate @sign_offs, remote: true %>
      </div>
      <%= link_to 'New Sign Off', new_sign_off_path %>
    </div>
  </div>
</div>