<div class='whitebg'>
  <div class='row'>
    <div class='col m12'>
      <h5 class='center-align'>Sign Offs</h5>
      <table class="responsive-table">
        <thead>
          <%= render 'sign_off_list_table_head' %>
        </thead>
        <tbody>
          <%= render 'sign_off_list' %>
        </tbody>
      </table>
      <%= link_to 'New Sign Off', new_sign_off_path %>
    </div>
  </div>
</div>